<!DOCTYPE html>
<html lang="en" ng-app="dndApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/angular.js"></script>
    <script src="javascripts/dndApp.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
<div>HTML5 native Drag & Drop</div>
  </body>
</html>